<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f3f4f6;
        padding: 20px;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .invoice-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .invoice-header img {
        max-width: 150px;
    }

    .invoice-header h4 {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
    }

    .invoice-info {
        margin-top: 20px;
    }

    .project-name {
        font-size: 1.75rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 20px;
        color: #333;
    }

    .billing-address h4 {
        font-size: 1.25rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #555;
    }

    .billing-address p {
        font-size: 1rem;
        font-weight: normal;
        margin: 0;
        color: #777;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 30px;
    }

    th, td {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        text-align: left;
    }

    th {
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 500;
    }

    .total-row td {
        border: none;
        padding-top: 20px;
        text-align: right;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .terms {
        margin-top: 30px;
    }

    .terms h1 {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: #333;
    }

    .terms p {
        font-size: 1rem;
        font-weight: normal;
        margin: 0;
        color: #777;
    }
</style>
</head>
<body>

<div class="container">
    <div class="invoice-header">
        <img src="https://via.placeholder.com/150" alt="Logo CyberSec">
        <h4>Facture CyberSec #123456</h4>
    </div>

    <div class="invoice-info">
        <h1 class="project-name">CyberSec</h1>

        <div class="billing-address">
            <h4>Facture à :</h4>
            <p>{{ infoUser.lastname }} {{ infoUser.firstname }}</p>
            {% if infoUser.address is not null %}
                <p>{{ infoUser.address.rue }}, {{ infoUser.address.codePostal }}, {{ infoUser.address.ville}}, {{ infoUser.address.pays }}</p>
            {% else %}
                <p>Adresse non disponible</p>
            {% endif %}
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th>Abonnement</th>
            <th>Prix</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ infoUser.subscriptionType }}</td>
            <td>{{ infoUser.subscriptionPrice is not null ? infoUser.subscriptionPrice|number_format(2, '.', ',') ~ ' €' : 'N/A' }}</td>
        </tr>
        </tbody>
    </table>

    <div class="terms">
        <h1>Termes et conditions :</h1>
        <p>Merci pour votre achat chez CyberSec. Pour toute question ou assistance, veuillez nous contacter.</p>
    </div>
</div>

</body>
</html>