{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}
    <h1>Modifier votre profil</h1>
    {{ form_start(modificationProfil) }}

    {{ form_label(modificationProfil.email) }}
    {{ form_widget(modificationProfil.email) }}

    {{ form_label(modificationProfil.password) }}
    {{ form_widget(modificationProfil.password) }}

    {{ form_label(modificationProfil.firstname) }}
    {{ form_widget(modificationProfil.firstname) }}

    {{ form_label(modificationProfil.lastname) }}
    {{ form_widget(modificationProfil.lastname) }}

    {{ form_label(modificationProfil.profilePicture) }}
    {{ form_widget(modificationProfil.profilePicture) }}

    <button type="submit" class="btn btn-primary">Enregistrer</button>

    {{ form_end(modificationProfil) }}
{% endblock %}
